*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Pangolin", cursive;
  line-height: 1.6;
  font-size: 1.5rem;
}

h1 {
  text-align: center;
  margin: 2.5rem 0.75rem;
}

@media only screen and (min-width: 20em) {
  h1 {
    font-size: 4rem;
  }
}

img {
  display: block;
  height: 7.5rem;
}

@media only screen and (min-width: 20em) {
  img {
    display: block;
    height: 5rem;
  }
}

@media only screen and (min-width: 23.43em) {
  img {
    display: block;
    height: 7.5rem;
  }
}

.hidden {
  display: none;
}

.score-board {
  position: relative;
}

.score-board__badge {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.score-board__user-label {
  background-color: #b61919;
  width: 10rem;
  position: absolute;
  top: 2.5rem;
  right: 8.75rem;
}

@media only screen and (min-width: 20em) {
  .score-board__user-label {
    right: 2.25rem;
  }
}

@media only screen and (min-width: 23.43em) {
  .score-board__user-label {
    right: 3.75rem;
  }
}

@media only screen and (min-width: 37.5em) {
  .score-board__user-label {
    right: 15rem;
  }
}

@media only screen and (min-width: 56.25em) {
  .score-board__user-label {
    right: 25rem;
  }
}

@media only screen and (min-width: 62.25em) {
  .score-board__user-label {
    right: 35rem;
  }
}

@media only screen and (min-width: 81.25em) {
  .score-board__user-label {
    right: 50rem;
  }
}

.score-board__comp-label {
  background-color: #2d46b9;
  position: absolute;
  top: 2.5rem;
  left: 8.75rem;
  width: 10rem;
}

@media only screen and (min-width: 20em) {
  .score-board__comp-label {
    left: 2.25rem;
  }
}

@media only screen and (min-width: 23.43em) {
  .score-board__comp-label {
    left: 3.75rem;
  }
}

@media only screen and (min-width: 37.5em) {
  .score-board__comp-label {
    left: 15rem;
  }
}

@media only screen and (min-width: 56.25em) {
  .score-board__comp-label {
    left: 25rem;
  }
}

@media only screen and (min-width: 62.25em) {
  .score-board__comp-label {
    left: 35rem;
  }
}

@media only screen and (min-width: 81.25em) {
  .score-board__comp-label {
    left: 50rem;
  }
}

.score-board__box {
  border: 0.3rem solid black;
  width: 10rem;
  font-size: 4rem;
  text-align: center;
  margin: 1.5rem auto;
}

.result {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-top: 0.1rem;
}

.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.choices__choice {
  border: 0.5rem solid black;
  padding: 0.75rem;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.choices__choice:hover {
  cursor: pointer;
  border: 0.5rem solid white;
}

.choices__choice:active {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.btn {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  color: #444;
  background: none;
  border: 0.1 solid black;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  -webkit-box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn--new {
  margin-top: 2.5rem;
}

@media only screen and (min-width: 20em) {
  .btn--new {
    margin-top: 0rem;
  }
}

.btn--game-play {
  margin-top: 8rem;
}

@media only screen and (min-width: 20em) {
  .btn--game-play {
    margin-top: 6rem;
  }
}

.btn:active {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.game-play__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.game-play__close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.game-play__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}
